<ul id="wb-tphp" class="wb-init wb-disable-inited">
    <li class="wb-slc">
      <a class="wb-sl" href="#wb-cont">Skip to main content</a>
    </li>
    <li class="wb-slc visible-sm visible-md visible-lg">
      <a class="wb-sl" href="#wb-info">Skip to "About this site"</a>
    </li>
  <li class="wb-slc"><a class="wb-sl" rel="alternate" href="?wbdisable=true">Switch to basic HTML version</a></li>
</ul>
<header role="banner" ng-controller="HeaderController as vm">
  <div id="wb-bnr" class="container">
    <div class="row">
      <div class="brand col-xs-8">
          <object type="image/svg+xml" tabindex="-1" data="https://wet-boew.github.io/themes-dist/GCWeb/assets/sig-blk-en.svg"></object><span class="wb-inv"> Government of Canada</span>
      </div>
      <div class="brand col-xs-4 text-right">
        <ul class="list-inline margin-bottom-none" ng-hide="vm.authentication.user">
          <li><a href="#beta-definition" aria-controls="beta-definition" class="wb-lbx lbx-modal btn btn-primary" role="button">BETA</a></li>
          <li><a href="/authentication/government">Sign Up</a></li>
          <li><a href="/authentication/signinadmin">Sign In</a></li>
          <li><a lang="fr" href="#">Français</a></li>
        </ul>
          <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
              <li class="dropdown" uib-dropdown>
                  <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
                      <img ng-src="{{vm.authentication.user.profileImageURL}}" class="header-profile-image" />
                      <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                      <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
                          <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                      </li>
                      <li class="divider"></li>
                      <li>
                          <a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out" aria-hidden="true"></i> Signout</a>
                      </li>
                  </ul>
              </li>
              <li><a lang="fr" href="#">Français</a></li>
          </ul>
      </div>
    </div>
  </div>

  <div class="themenav">
    <ul class="nav scroll dragscroll secondary affix-top" data-spy="affix" data-offset-top="150">
      <li><a class="nav-link" href="/teams">Teams</a></li>
      <li><a class="nav-link" href="/projects">Projects</a></li>
      <li><a class="nav-link" href="/opportunities">Opportunities</a></li>
    </ul>
  </div>

  <nav role="navigation" id="wb-bc" class="" property="breadcrumb">
    <h2 class="wb-inv">You are here:</h2>
    <div class="container">
      <div class="row">
        <ol class="breadcrumb">
          <li ng-if="!isHomePage()"><a href="/">Home</a></li>
          <li><a href="{{step.ncyBreadcrumbLink}}" ncy-breadcrumb-last>{{step.ncyBreadcrumbLabel}}</a></li>
        </ol>
      </div>
    </div>
  </nav>
</header>

<section id="beta-definition" class="mfp-hide modal-dialog modal-content overlay-def">
  <header class="modal-header">
    <h2 class="modal-title">Beta</h2>
  </header>
  <div class="modal-body">
    <p>The term “beta” in software development refers to a development phase within its lifecycle that provides opportunities to conduct proofing and testing often with users from outside of the project team (general public).  This allows the project team to adjust the product according to new test data. The distribution of a beta release can be as limiting or vast as project resources allow. The goal of a beta release is to garner feedback on, but not exclusively to, the design, process, and demand by collecting user experience comments and statistics. A beta is ephemeral in nature, and moves into official production status once the proofing and testing is successful.</p>
  </div>
</section>

<!--
<nav id="mainNav" class="navbar navbar-default" ng-controller="HeaderController as vm" ng-class="{'navbar-intro': isHomePage()}">
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display
    <div class="navbar-header">
    <ul class="nav navbar-nav navbar-right" ng-hide="vm.authentication.user">
      <li ui-sref-active="active">
        <!-- <a ui-sref="signup"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign Up</a>
        <a ui-sref="authentication.gov"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign Up</a>
      </li>
      <li class="divider-vertical"></li>
      <li ui-sref-active="active">
        <a ui-sref="authentication.signin"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign In</a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right" ng-show="vm.authentication.user">
      <li class="dropdown" uib-dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" uib-dropdown-toggle role="button">
          <img ng-src="{{vm.authentication.user.profileImageURL}}" class="header-profile-image" />
          <span ng-bind="vm.authentication.user.displayName"></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ui-sref-active="active" ng-repeat="item in vm.accountMenu.items">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self"><i class="fa fa-sign-out" aria-hidden="true"></i> Signout</a>
          </li>
        </ul>
      </li>
    </ul>
        <a class="navbar-brand" ui-sref="home" href="/">
          <img height="50" src="/modules/core/client/img/logo/gc-logo.png" alt="GCDevExchange">
        </a>
    </div>

  <nav class="navbar-main" role="navigation">
    <ul class="nav navbar-nav" ng-if="vm.menu.shouldRender(vm.authentication.user);">
      <li ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ng-class="{ dropdown: item.type === 'dropdown', active: isActiveMenu(item)}" class="{{item.class}}" uib-dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" uib-dropdown-toggle role="button"><i class="nav-icon" ng-class="item.icon||'fa fa-puzzle-piece'" aria-hidden="true"></i> {{::item.title}}&nbsp;<span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
            <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
          </li>
        </ul>
        <a ng-switch-default ui-sref="{{item.state}}"><i class="nav-icon" ng-class="item.icon||'fa fa-puzzle-piece'" aria-hidden="true"></i> {{::item.title}}</a>
      </li>
    </ul>
  </nav>
</div>
-->