<h1>{{ 'TITLE' | translate }}</h1>

<section>
	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<figure class="thumbnail">
				<img src="/modules/core/client/img/home/hamilton-workers.jpg" alt="Two workers from Hamilton, Ontario, testing the tensile strength of a piece of synthetic rubber in the Polymer Rubber Corporation laboratory, Sarnia, Ontario" />
				<figcaption class="caption">
					<p>Two workers from Hamilton, Ontario, testing the tensile strength of a piece of synthetic rubber in the Polymer Rubber Corporation laboratory, Sarnia, Ontario</p>
				</figcaption>
			</figure>
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2>{{ 'ABOUT_TITLE' | translate }}</h2>
		    <p>{{ 'ABOUT_P1' | translate }}</p>
		    <p translate="ABOUT_P2"></p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2>Why was it established?</h2>
		    <p>The intent of the GC DevEx beta is to use it to compensate developers and designers to co-create a library of digital tools that makes it easy to share, adapt and reuse fit-for-purpose solutions for governments and citizens to engage online. Additional emphasis on open source technologies encourages copying (forking) to further enhance collaboration. Together, we will make a common set of tools available for public engagement.</p>
			<p>By focusing on small scale opportunities, we hope to increase the amount of government contracts to small and medium sized enterprises, civic technology community groups and entrepreneurs, in a way that adds value and encourages collaborative innovation within Canada.</p>
			<p>This initiative fulfills a commitment under <a href="http://open.canada.ca/en/content/third-biennial-plan-open-government-partnership#toc5-4-2" target="_blank">Canada’s participation in the Open Government Partnership (OGP)</a>.</p>
	    </div>
		<div class="col-xs-12 col-md-6">
			<figure class="thumbnail">
				<img src="/modules/core/client/img/home/electric-typewriter.jpg" alt="Electric typewriter, patent number: 120693" />
				<figcaption class="caption">
					<p>Electric typewriter, patent number: 120693</p>
				</figcaption>
			</figure>
		</div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<figure class="thumbnail">
				<img src="/modules/core/client/img/home/children-books.jpg" alt="Children gathered around a table of books, Central Circulating Library at College and St. George Streets, Toronto, Ontario" />
				<figcaption class="caption">
					<p>Children gathered around a table of books, Central Circulating Library at College and St. George Streets, Toronto, Ontario</p>
				</figcaption>
			</figure>
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2>Participating government departments</h2>
		    <p>GC DevEx beta was started by Privy Council Office (PCO), and Treasury Board of Canada Secretariat (TBS).These departments are responsible for managing the beta site and evaluating the initiative.</p>
			<p>Other federal departments can use the GC DevEx beta by contacting <a href="mailto:consultation@pco-bcp.gc.ca">consultation@pco-bcp.gc.ca</a>. After this initiative has been evaluated, the GC DevEx may be expanded to more departments within the Government of Canada.</p>
			<p>Other governments can re-use the code and concept for this initiative. With the exception of the federal identifier (AKA Canada logo), all parts of this website is licensed for re-use through the <a href="http://www.apache.org/licenses/">Apache License</a>. Whether you are part of a provincial, municipal, or national government elsewhere, you can copy (fork) the code on GitHub and set-up your own micro-procurement platform to work with developers in your community.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<!--
	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2>How is this site managed?</h2>
		    <p>The GC has launched a site that closely resembles its inspiration, the BC Developers Exchange. By launching quickly, the focus remains testing whether the site is used and useful.</p>
			<p>This beta version of the site will be evaluated based on feedback from public servants and developers who post and complete opportunities (respectively).</p>
	    </div>
		<div class="col-xs-12 col-md-6">
			<figure class="thumbnail">
				<img src="/modules/core/client/img/home/hamilton-workers.jpg" alt="Two workers from Hamilton, Ontario, testing the tensile strength of a piece of synthetic rubber in the Polymer Rubber Corporation laboratory, Sarnia, Ontario" />
				<figcaption class="caption">
					<p>Two workers from Hamilton, Ontario, testing the tensile strength of a piece of synthetic rubber in the Polymer Rubber Corporation laboratory, Sarnia, Ontario</p>
				</figcaption>
			</figure>
		</div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
			<figure class="thumbnail">
				<img src="/modules/core/client/img/home/hamilton-workers.jpg" alt="Two workers from Hamilton, Ontario, testing the tensile strength of a piece of synthetic rubber in the Polymer Rubber Corporation laboratory, Sarnia, Ontario" />
				<figcaption class="caption">
					<p>Two workers from Hamilton, Ontario, testing the tensile strength of a piece of synthetic rubber in the Polymer Rubber Corporation laboratory, Sarnia, Ontario</p>
				</figcaption>
			</figure>
		</div>
		<div class="col-xs-12 col-md-6">
		    <h2>Process for responding to an opportunity</h2>
		    <p>Each opportunity is reviewed by a core group of public servants to ensure it meets the criteria and is scoped appropriately.</p>
			<p><a href="#" target="_blank">Terms and conditions of use</a> (in development).</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	-->

	<div class="row padding">
		<div class="col-xs-12 text-center">
		    <h2>Government collaboration at CodeFest</h2>
			<iframe width="100%" height="600" src="https://www.youtube.com/embed/UkRwPqqeR_k" frameborder="0" allowfullscreen></iframe>
	    	<p>Highlights from the 2nd CodeFest held in August 2013.</p>
	    </div>
	</div>

	<hr class="brdr-bttm">

	<div class="row padding">
		<div class="col-xs-12 col-md-6">
		    <h2>Work With Us</h2>
		    <ul>
	            <li><a href="https://beta.gcdevexchange.org/about">About the Developer Exchange</a></li>
	            <li><a href="https://github.com/canada-ca/welcome">Canada on GitHub</a></li>
	            <li><a href="https://www.canada.ca/en/treasury-board-secretariat/topics/government-communications.html">Web Standards Policies</a></li>
	        </ul>
	    </div>
		<div class="col-xs-12 col-md-6">
			<h2>Open Source in Canada’s Governments</h2>
		    <ul>
	            <li><a href="http://wet-boew.github.io/wet-boew/index.html">Web Experience Toolkit</a></li>
	            <li><a href="https://github.com/gctools-outilsgc">GC 2.0 Tools on GitHub</a></li>
	            <li><a href="https://bcdevexchange.org">B.C. Developers Exchange</a></li>
	            <li><a href="https://government.github.com/community#canada">Canadian Government Accounts on GitHub</a></li>
	        </ul>
		</div>
	</div>
</section>

<!--
<section id="intro" class="intro">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 text-center">
				<br><br>
				<h2>We’re building better ways for government and developers to work together.</h2>
				<h5 style="color: #bbe4f7;">Meaningful opportunity for tech talent lives here. Join us!</h5>
				<h5 style="font-family: Lato;"><a ui-sref="authentication.gov" class="btn btn-lg btn-solo btn-warning">Sign Up</a><a href="/about">Learn More</a></h5>
			</div>
		</div>
	</div>
</section>

<section id="code-with-us" class="audience" style="background-color: #f2f2f2;">
	<div class="container">
		<div class="row" style="padding-top: 10px; padding-bottom: 30px">
			<div class="col-xs-12 text-center">
				<h4 style="font-size: 12px; color: #595959; letter-spacing: 2px;"><i class="fa fa-github fa-lg"></i> Code With Us</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 text-center" style="padding-right: 40px;">
				<h3 style="color: #262626">Work  directly in GitHub and get paid a fixed fee for code that meets the acceptance criteria.</h3>
				<br>
				<h5 style="font-family: Lato; text-transform: none;"><a href="/opportunities" class="btn btn-lg btn-solo btn-warning">Find Work</a><a href="/codewithus">Learn More</a></h5><br><br><br><br>
			</div>
			<div class="col-sm-6">
				<div class="row">
					<div class="col-sm-12 col-md-6">
						<img src="/modules/core/client/img/photos/andy.jpg" class="img-circle img-responsive" style="max-height: 85px; align-content: center;">
						<blockquote>
						<p>"We quickly found a qualified developer, worked collaboratively in the open, and got a great final product!"</p>
						<footer><em>Andy</em> | <span style="font-weight: 500;">Environmental Analyst</span>, Province of B.C.</footer>
					</blockquote>
					</div>
					<div class="col-sm-12 col-md-6">
						<img src="/modules/core/client/img/photos/wayne.jpg" class="img-circle img-responsive" style="max-height: 85px;">
						<blockquote>
						<p>"I think this platform could be a game changer for matching government agencies with the best talent in this province."</p>
						<footer><em>Wayne</em> | <span style="font-weight: 500;">Developer</span>, Vancouver</footer>
					</blockquote>
					</div>
				</div>	
			</div>
		</div>
	</div>
</section>

<section id="open projects" class="audience">
	<div class="container">
		<div class="row" style="padding-top: 10px; padding-bottom: 30px">
			<div class="col-xs-12 text-center">
				<h4 style="color: #595959; font-size: 12px; letter-spacing: 2px;"><i class="fa fa-pie-chart fa-lg"></i> Open Projects</h4>
				<br>
				<h3>Explore open-source public sector projects that are making a difference for Canadians. Find something that inspires you and get involved.</h3>
				<br><br>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/modules/core/client/img/photos/epic.jpg" title="Flickr image by feral rogue used under licence (CC BY-ND 2.0)"alt="EPIC Project" style="width:100%">
					<div class="card-block">
						<p class="card-text">The Environmental Assessment Office's Project Information & Collaboration system makes it easier for the public and stakeholders to find important information and comment on environmental reviews. It has been released as a beta application – a fully-functional starting point upon which to build continuous improvements.</p>
						<a href="https://bcdevexchange.org/projects/589d72e509b2ba001d06289c" class="btn btn-default">View Project</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/modules/core/client/img/photos/schoolbus.jpg" alt="Transportation Fuels Reporting System Project" title="Flickr image by dhendirx72 used under licence (CC BY-ND 2.0)" style="width:100%;">
					<div class="card-block">
						<p class="card-text">The Ministry of Transportation and Infrastructure is modernizing the way vehicle inspectors conduct and track school bus inspections by decommissioning the existing mainframe application and replacing it with an Open Source solution that will help ensure the continued safety of the 3000+ school buses that are in operation in British Columbia today.</p>
						<a href="https://bcdevexchange.org/projects/prj-school-bus-inspection-system-replacement-project" class="btn btn-default">View Project</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card">
					<img class="card-img-top" src="/modules/core/client/img/photos/datavis.jpg" title="Flickr image by yashima used under licence (CC BY-SA 2.0)" alt="Major Mines Transparency Initiative Project" style="width: 100%;">
					<div class="card-block">
						<p class="card-text">B.C. innovators and data visualization experts are creating prototoypes to demonstrate the value of government and other sources of data. In this example, the challenge is being applied to B.C. Housing market data.</p>
						<a href="https://bcdevexchange.org/projects/589a5c3f178691001cddb9ca" class="btn btn-default">View Project</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="events" class="events">
	<div class="container">
		<div class="row" style="padding-top: 10px; padding-bottom: 30px">
			<div class="col col-xs-12 text-center">
				<h4 style="font-size: 12px; color: white; letter-spacing: 2px;"><i class="fa fa-calendar fa-lg"></i> Events</h4>
			</div>
		</div>
		<br>
		
		<div class="row">
  			<div class="col-xs-10 col-sm-6 col-centered">
    			<div class="panel panel-default panel-body text-center">
      			<span>No upcoming events right now.</span>
    			</div>
  			</div>
		</div>

		<div class="container" ng-if="!vm.isUser">
		  <div class="row">
		    <div class="col-xs-12 text-center" style="line-height: 1.5em;">
		      <h3 style="color: white; padding-bottom: 30px;">Want to hear about meetups and events?<br><br><a ui-sref="authentication.gov" class="btn btn-lg btn-solo btn-warning">Sign Up</a>
		    </div>
		  </div>
		</div>

		<div class="row">
			<div class="col-sm-5">
	 				<h5>MARCH <span style="font-size: 23px;">13</span></h5>
	 				<p>Vancouver Convention Centre</p>
					<h2 style="color: #fdb917;">IoT Discovery Day</h2>
					<p style="color: #d2edf9">B.C. tech firms are invited to come to a Discovery Day, hosted by the BC Innovation Council (BCIC) and the BC Ministry of Transportation and Infrastructure (MOTI), to learn about the Internet of Things related business and technology challenges in BC transportation and infrastructure. <a href="iotblog">Read more...</a></p><br>
					<a href="http://bcic.ca/events/iot-discovery-day/" class="btn btn-default">Learn how to Register</a>
					<br><br><br><br> 
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-5">
	 				<h5>MARCH <span style="font-size: 23px;">14-15</span></h5>
					<p>Vancouver Convention Centre</p>
					<h2 style="color: #fdb917;">#BCTECH Summit</h2>
					<p style="color: #d2edf9;">See you there! We'll have a booth and will be glad to chat about what we're up to.</p><br>
					<a href="http://bctechsummit.ca/" class="btn btn-default">LEARN MORE</a>
			</div>
		</div>
	</div>
</section>
-->
