<div class="row list-head">
    <div class="col-sm-7">
        <h2 class="list-page-hide">Government Partners</h2>
    </div>
    <div class="col-sm-5 col-form-buttons text-right">
        <button ng-if="vm.userCanAdd" class="btn btn-default " ui-sref="programadmin.create()" title="New">
            <i class="glyphicon glyphicon-plus"></i> New Program
        </button>
    </div>
</div>

<h1>All Programs</h1>
<div>
    The following table contains a list of all programs participating in GC DevEx beta. Filter the list by typing the name of a team or organization or sort a column using the arrows.
    <br /><br />

    This is not a full list of all GC programs. A full list of all GC services or information is available on <a href="https://www.canada.ca/en/services.html">canada.ca</a>.
    <br /><br />
</div>


<table class="wb-tables table table-striped table-hover table-bordered" ng-repeat="program in vm.programs">
    <thead>
        <tr class="active">
            <th>Program Title</th>
            <th>Description</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody id="tbodyMain">


            <tr role="row"><td><a ui-sref="programs.view({ programId: program.code })" ng-bind="program.title"></a></td><td><p ng-bind="program.short"></p></td><td><p ng-bind="program.owner"></p></td></tr>

    </tbody>
</table>



